SQLCIPHER_CFLAGS = -DSQLITE_HAS_CODEC -DSQLITE_TEMP_STORE=2 -DSQLITE_THREADSAFE -DSQLCIPHER_CRYPTO_CC -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT
SQLCIPHER_RELEASE_CFLAGS = -DNDEBUG -DSQLITE_OS_UNIX=1
SQLCIPHER_ARMV6_CFLAGS = -mno-thumb

OTHER_CFLAGS = $(SQLCIPHER_CFLAGS)
OTHER_CFLAGS[arch=armv6] = $(SQLCIPHER_ARMV6_CFLAGS) $(SQLCIPHER_CFLAGS)
OTHER_CFLAGS[config=Release] = $(SQLCIPHER_CFLAGS) $(SQLCIPHER_RELEASE_CFLAGS)
OTHER_CFLAGS[config=Release][arch=armv6] = $(SQLCIPHER_ARMV6_CFLAGS) $(SQLCIPHER_CFLAGS) $(SQLCIPHER_RELEASE_CFLAGS)
